/* @media (max-width: 1030px) {
  .h-shifter {
    height: 380px; 
  }
  .f-shifter-subhead {
    font-size: 15px; 
    display: none;
    
  }
  .f-shifter-head{
    font-size: 35px; 
    margin-top: -80px;
    display: none;
  }

  .div-hide {
    display: none;
  }
} */



@media (max-width: 1030px) {
  .h-shifter {
    height: 400px; /* Change this to your desired mobile height */
  }
  .f-shifter-subhead {
    font-size: 15px; /* Change this to your desired mobile height */
    display: none;
    
  }
  .f-shifter-head{
    font-size: 20px; /* Change this to your desired mobile height */
    margin-top: -80px;
    display: none;
  }

  .start-btns{
    display: none;
  }
  
  .bg-gif {
    /* background: #316ddb no-repeat center center; */
    background: url('../../images/bgr3.gif') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0;
  }

  .div-hide {
    display: none;
  }
}



@media (max-width: 855px) {
  .h-shifter {
    height: 350px; /* Change this to your desired mobile height */
  }
  .f-shifter-subhead {
    font-size: 15px; /* Change this to your desired mobile height */
    display: none;
    
  }
  .f-shifter-head{
    font-size: 20px; /* Change this to your desired mobile height */
    margin-top: -80px;
    display: none;
  }

  .start-btns{
    display: none;
  }
  
  .bg-gif {
    /* background: #316ddb no-repeat center center; */
    background: url('../../images/bgr3.gif') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0;
  }

  .div-hide {
    display: none;
  }
}




@media (max-width: 767px) {
  .h-shifter {
    height: 200px; /* Change this to your desired mobile height */
  }
  .f-shifter-subhead {
    font-size: 15px; /* Change this to your desired mobile height */
    display: none;
    
  }
  .f-shifter-head{
    font-size: 20px; /* Change this to your desired mobile height */
    margin-top: -80px;
    display: none;
  }

  .start-btns{
    display: none;
  }
  
  .bg-gif {
    /* background: #316ddb no-repeat center center; */
    background: url('../../images/bgr3.gif') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0;
  }
}


